# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database connection string
# Replace this with your actual Neon PostgreSQL connection string
DATABASE_URL=


# Authentication (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=
CLERK_WEBHOOK_SECRET=

# Email (Nodemailer via Gmail)
SMTP_EMAIL="your-email@gmail.com"
SMTP_PASSWORD="your-google-app-password"

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=